* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
.panel {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.panel .element {
    display: inline-block;
}

.panel .element input{ width: 50px;}

svg circle:hover{
    cursor: pointer;
}

svg path:hover{
    cursor: pointer;
}