main {
    grid-area: 1/4 / 13/10;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    main {
        grid-area: 1/1 / 13/13;
    }
}

@media only screen and (min-width: 768px) and (max-width: 884px){
    main {
        grid-area: 1/1 / 13/9;
    }
}