.coverLayout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    gap: 15px;
    margin-bottom: 15px;
}

.coverLayout_mainCoverNews {
    background-color: lightgoldenrodyellow;
    grid-area: 1/1 / 7/4;
    min-height: 300px;
}

.coverLayout_firstCoverNews {
    background-color: rgb(253, 253, 169);
    grid-area: 1/4 / 3/7;
    min-height: 100px;
}
.coverLayout_secondCoverNews {
    background-color: rgb(255, 255, 187);
    grid-area: 3/4 / 5/7;
    min-height: 100px;
}
.coverLayout_thirdCoverNews {
    background-color: rgb(216, 216, 97);
    grid-area: 5/4 / 7/7;
    min-height: 100px;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .coverLayout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .coverLayout_mainCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_firstCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_secondCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_thirdCoverNews {
        grid-area:auto;
        min-height: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 884px){
    .coverLayout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .coverLayout_mainCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_firstCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_secondCoverNews {
        grid-area:auto;
        min-height: 300px;
    }

    .coverLayout_thirdCoverNews {
        grid-area:auto;
        min-height: 300px;
    }
}