<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- css -->
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="article_v_cover.css">

</head>
<body>

    <article class="articleV">

        <div class="img_content"></div>

        <div class="cover_content">
            <div class="tag">REAL MADRID</div>
            <div class="title">
                EL MADRID REVIENTA AL BARÇA ANDANDO CON GOLAZOS DE BENZEMA FEDE Y RODRYGO.
            </div>
            <div class="abstract">
                Reacción, resumen y análisis desde el Santiago Bernabéu del Real Madrid 3-1 Barça. 
                <a href="#">Leer más...</a> 
            </div>
            <div class="author">
                <div class="author_img"></div>
                <div class="bg_gradient"></div>
                <p>Iñaki Angulo</p>
            </div>
        </div>

    </article>

</body>
</html>