<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Component</title>
    <!-- Fonts -->
    <!-- Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,900&display=swap" rel="stylesheet">
    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- css -->
  <link rel="stylesheet" href="header.css">
</head>
<body>

  <header class="main_header">
      <!-- Banner -->
      <div class="main_header__banner">
          <h1>NoDo-L</h1>
      </div>

      <!-- Menu -->
      <nav class="main_header__navBar">
          <div class="navBar_elements">
              <ul>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Results</a></li>
                  <li><a href="#">Last News</a></li>
              </ul>
          </div>
      </nav>
      <div class="navBar_menuBtn"><button class="navBar_menuBtn_toggle">Menu</button></div>

      <!-- Info -->

  </header>

    <!--scripts-->
  <script src="header.js"></script>
</body>
</html>