<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header Component</title>
  <link rel="stylesheet" href="./header.css">
</head>
<body>

  <header class="main_header">
      <!-- Banner -->
      <div class="main_header__banner">
          <h1>NoDo-L</h1>
      </div>

      <!-- Menu -->
      <nav class="main_header__navBar">
          <div class="navBar_elements">
              <ul>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Results</a></li>
                  <li><a href="#">Last News</a></li>
              </ul>
          </div>
      </nav>
      <div class="navBar_menuBtn"><button class="navBar_menuBtn_toggle">Menu</button></div>

      <!-- Info -->

  </header>

    <!--scripts-->
  <script src="./header.js"></script>
</body>
</html>