.bodyLayoutBannerAndPillars {
    display: grid;
    gap: 15px;
    grid-template-columns:repeat(6, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 15px;
}

.bodyLayoutBannerAndPillars_main{
    background-color: rgba(165, 42, 42, 0.189);
    grid-area: 1/1 / 3/7;
    min-height: 150px;
}

.bodyLayoutBannerAndPillars_first{
    background-color: rgba(165, 42, 42, 0.406);
    grid-area: 3/1 / 6/3;
    min-height: 150px;
}

.bodyLayoutBannerAndPillars_second{
    background-color: rgba(165, 42, 42, 0.672);
    grid-area: 3/3 / 6/5;
    min-height: 150px;
}

.bodyLayoutBannerAndPillars_third{
    background-color: rgba(176, 84, 84, 0.554);
    grid-area: 3/5 / 6/7;
    min-height: 150px;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    .bodyLayoutBannerAndPillars {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .bodyLayoutBannerAndPillars_main {
        grid-area:auto;
        min-height: 300px;
    }
    
    .bodyLayoutBannerAndPillars_first {
        grid-area:auto;
        min-height: 300px;
    }
    .bodyLayoutBannerAndPillars_second {
        grid-area:auto;
        min-height: 300px;
    }
    .bodyLayoutBannerAndPillars_third {
        grid-area:auto;
        min-height: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 884px){
    .bodyLayoutBannerAndPillars {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

    .bodyLayoutBannerAndPillars_main {
        grid-area:auto;
        min-height: 300px;
    }
    
    .bodyLayoutBannerAndPillars_first {
        grid-area:auto;
        min-height: 300px;
    }
    .bodyLayoutBannerAndPillars_second {
        grid-area:auto;
        min-height: 300px;
    }
    .bodyLayoutBannerAndPillars_third {
        grid-area:auto;
        min-height: 300px;
    }
}