article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    box-shadow:  0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    height: 100px;
}

article .conver_img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
}

article .cover_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cover_content .tag {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.cover_content .title {
    width: 100%;
    font-family: 'Work Sans', sans-serif ;
    margin-bottom: 10px;
    cursor: pointer;
    /* transition-duration: 0.4s; */
}

.cover_content .abstract {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
    opacity: 70%;
}

.cover_content .author {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}

.cover_content .author .author_img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url("./profileExampleImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
    position: relative;
    object-fit: cover;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
@keyframes AnimationName {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}

.author_img::after{
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(54deg, #5000b2c2, #26007380);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    content: '';
    z-index: -1;
    border-radius: 50%;
}

.cover_content .author p{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin-left: 10px;
    opacity: 0.5;
}

.author img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

@media only screen and (min-width: 320px) and (max-width: 767px){
    article{

    }
    
    article .conver_img {

    }
    
    article .cover_content {

    }
}

@media only screen and (min-width: 768px) and (max-width: 884px){
    article{

    }
    
    article .conver_img {

    }
    
    article .cover_content {

    }